/* @font-face { font-family: Gilroy; font-weight: 900; font-style: normal; src: url(../fonts/Gilroy/Gilroy-Black.eot); src: url(../fonts/Gilroy/Gilroy-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/Gilroy/Gilroy-Black.woff) format("woff"), url(../fonts/Gilroy/Gilroy-Black.woff2) format("woff2"), url(../fonts/Gilroy/Gilroy-Black.ttf) format("truetype") } */



* {
    padding: 0;
    margin: 0;

}

body {
    background: #FFFFFF;
    font-family: 'Gilroy-Bold';
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 84px;
}

.logo-header {
    display: flex;
    gap: 14px;
}

.header-text {
    
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.nav {
    margin-bottom: 12px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}



.nav-link {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.header_colored {
    color: #F25822;
}

.content {
    margin-bottom: 162px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 41px;
}

.content-left {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 522px;
}

.content-right {
    align-self: start;
}

.title {
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 17px;
}

.sub {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    width: 430px;
    margin-bottom: 37px;
}

.content-btn {
    display: flex;
    flex-wrap: wrap;
    width: 302px;
}

.btn {
    /* position: absolute; */
    width: 140px;
    height: 50px;
    margin-right: 72px;
    padding: 15px 35px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-link {
    margin-top: 21px;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.logotypes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
    margin-top: 96px;
    margin-bottom: 96px;
}

/* .logocard {
    margin-right: 48px;
} */